# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/<YOUR_NAME_CHEAP_CPANEL_USERNAME>/<YOUR_DOMAIN_NAME>"
PassengerBaseURI "/"
PassengerPython "/home/<YOUR_NAME_CHEAP_CPANEL_USERNAME>/virtualenv/<YOUR_DOMAIN_NAME>/3.8/bin/python3.8"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END